* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.main-content {
    margin: 5px;
    padding: 5px;
}

header {
    background-color: #007bff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ffffff;
    color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
    alignment: center;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #041336;
    transition: background-color 0.3s ease;
}

.block {
    display: block;
}

a:hover {
    background-color: #007bff;
    color: #ffffff;
}

nav form {
    display: inline;
}

form button {
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #041336;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

nav form button {
    color: #007bff;
    background-color: #ffffff;
    font-size: 20px;
}

header form button {
    background-color: #ffffff;
    color: #007bff;
}

form button:hover {
    background-color: #ffffff;
    color: #007bff;
}


header form button:hover {
    background-color: #007bff;
    color: #ffffff;
}

form {
    margin-bottom: 20px;
}

form label, input, select {
    display: inline-block;
    font-weight: bold;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 17px;
}

#id_tags {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    float: top;
}

.msg {
    border: 1px solid;
    padding: 10px;
    margin: 20px;
    color: grey;
}

h1 {
    text-align: center;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}


.info-table th, .info-table td {
    padding: 10px;
    margin: 10px;
    border: 2px solid #007bff;
    text-align: center;
}

.info-project {
    display: flex;
    justify-content: space-between;
}

.detail-project,
.checkpoints-project,
.participants-project {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    align-items: center;
}

.detail-project {
    flex-basis: 33.33%
}

.checkpoints-project, .participants-project {
    flex-basis: 33.33%;
}

.detail-project h2,
.checkpoints-project h2,
.participants-project h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.detail-project a,
.participants-project a,
.checkpoints-project a {
    display: block;
    text-align: center;
    margin-top: auto;
}

.tag-list {
    list-style: none;
    display: inline;
    padding-left: 0;
}

.tag-list li {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#checkpoints-formset,
#participants-formset {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 90%;
}

.application-form {
    margin-top: auto;
    margin-bottom: auto;
}

.application-form button {
    font-size: 20px;
}

.edit-button {
    position: sticky;
    font-size: 25px;
    top: 90%;
}

.back-button {
    font-size: 25px;
    border-radius: 5px;
}


.edit-checkpoint {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.update-form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.update-form label, .update-form input {
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.central-element {
    display: table;
    margin: 5px auto;
}

.central-element a {
    margin-left: 50px;
}

.central-element button {
    margin-right: 50px;
}

.inline-elements, .inline-elements a {
    display: inline;
}

table {
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.avatar {
    margin-right: 20px;
}

.avatar img {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    flex-grow: 1;
}

.unread {
    background-color: #ff8b8b;
}

.read {
    background-color: #6fd57f;
}

.sidebar {
    transition: 0.5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background: #007bff;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    margin: 25px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    align-items: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
    cursor: pointer;
    height: 50px;
    line-height: 55px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav a {
        font-size: 18px;
    }
}

nav {
    height: 50px;
    background: #007bff;
}

.menu-button {
    background: #fff;
    height: 40px;
    margin: 5px;
    float: left;
    line-height: 40px;
    width: 100px;
    text-align: center;
    color: #007bff;
    border-radius: 4px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

body:has(#menu-toggle:checked) #mySidenav {
    width: 250px !important;
}

.sidenav form {
    margin: 10px;
}

.project-container {
    display: flex;
}

.filter-column {
    flex: 1;
    margin-right: 20px;
}

.project-column {
    flex: 3;
}


.filter-form {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.filter-form label {
    display: block;
    margin-bottom: 5px;
}

.filter-form select, .filter-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
