{% extends "base.html" %}
{% block title %}Заявки на роль {{ participant.title }} в проекте {{ participant.project.title }}{% endblock %}
{% block content %}
    <h1>Заявки</h1>
    {% if applications %}
        <table class="info-table">
            <tr>
                <th>Полное имя</th>
                <th>Электронная почта</th>
                <th>Описание</th>
                <th>Профиль</th>
                <th>Время создания</th>
                <th></th>
                <th></th>
            </tr>
            {% for application in applications %}
                <tr>
                    {% with user=application.applicant %}
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.description }}</td>
                        <td><a href="{% url 'account:user-detail' user.pk %}">Профиль</a></td>
                    {% endwith %}
                    <td>{{ application.created|date:"H:i d.m.Y" }}</td>
                    <td>
                        <form method="post"
                              action="{% url 'projects:application_accept' participant.project.pk participant.custom_id application.custom_id %}"
                              class="application-form">
                            {% csrf_token %}
                            <button type="submit">Одобрить</button>
                        </form>
                    </td>
                    <td>
                        <form method="post"
                              action="{% url 'projects:application_reject' participant.project.pk participant.custom_id application.custom_id %}"
                              class="application-form">
                            {% csrf_token %}
                            <button type="submit">Отклонить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Заявок нет</h2>
    {% endif %}
{% endblock %}