{% extends "base.html" %}
{% block title %}Редактировать контрольные точки{% endblock %}
{% block content %}
    <h1>Редактирование контрольных точек</h1>
    <form method="post">
        {% csrf_token %}
        <p>Контрольные точки:</p>
        <div id="checkpoints-formset">
            {{ checkpoints.non_form_errors }}
            {{ checkpoints.management_form }}
            {% for checkpoint in checkpoints %}
                <div class="checkpoint-form">
                    {{ checkpoint.as_table }}
                    <!-- <button id="remove-checkpoint-form" type="button">Удалить</button> -->
                </div>
            {% endfor %}
        </div>
        <p>
            <button id="add-checkpoint-form" type="button">Добавить контрольную точку</button>
        </p>
        <p>
            <button type="submit">Сохранить</button>
        </p>
    </form>
    <p><a href="{{ request.META.HTTP_REFERER }}">Назад</a></p>
    <script>
        let checkpointForm = document.querySelectorAll(".checkpoint-form")
        let participantForm = document.querySelectorAll(".participant-form")
        let checkpointContainer = document.querySelector("#checkpoints-formset")
        let participantContainer = document.querySelector("#participants-formset")
        let addCheckpointButton = document.querySelector("#add-checkpoint-form")
        let addParticipantButton = document.querySelector("#add-participant-form")

        let checkpointTotalForms = document.querySelector("#id_checkpoints-TOTAL_FORMS")
        let participantTotalForms = document.querySelector("#id_participants-TOTAL_FORMS")

        let checkpointNum = checkpointForm.length - 1
        let participantNum = participantForm.length - 1
        addCheckpointButton.addEventListener('click', addCheckpointForm)
        addParticipantButton.addEventListener('click', addParticipantForm)

        function addCheckpointForm(e) {
            e.preventDefault()

            let newForm = checkpointForm[0].cloneNode(true)
            let formRegex = RegExp(`checkpoints-(\\d){1}-`, 'g')
            checkpointNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `checkpoints-${checkpointNum}-`)
            checkpointContainer.appendChild(newForm)
            //newForm.querySelector("#remove-checkpoint-form").addEventListener("click", removeCheckpointForm);
            checkpointTotalForms.setAttribute('value', `${checkpointNum + 1}`)
        }

        function addParticipantForm(e) {
            e.preventDefault()

            let newForm = participantForm[0].cloneNode(true)
            let formRegex = RegExp(`participants-(\\d){1}-`, 'g')
            participantNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `participants-${participantNum}-`)
            participantContainer.appendChild(newForm)
            //newForm.querySelector("#remove-participant-form").addEventListener("click", removeParticipantForm);
            participantTotalForms.setAttribute('value', `${participantNum + 1}`)
        }
    </script>
{% endblock %}
