{% extends "base.html" %}
{% block title %}Редактировать контрольные точки{% endblock %}
{% block content %}
    <h1>Редактирование контрольных точек</h1>
    <div class="update-form">
        <div class="button-container">
            <b>Дедлайн подачи заявки: {{ project.application_deadline|date:"d.m.Y" }}</b>
            <b>Дедлайн завершения проекта: {{ project.completion_deadline|date:"d.m.Y" }}</b>
        </div>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div id="checkpoints-formset">
                {{ checkpoints.non_form_errors }}
                {{ checkpoints.management_form }}
                {% for checkpoint in checkpoints %}
                    <div class="checkpoint-form edit-checkpoint">
                        {{ checkpoint.as_p }}
                        <button class="delete-checkpoint-button" type="button">Удалить</button>
                    </div>
                {% endfor %}
            </div>
            <div class="button-container">
                <button id="add-checkpoint-form" type="button">Добавить контрольную точку</button>
                <button type="submit" class="add-button">Сохранить</button>
                <a href="{% url 'projects:project_info' project.pk %}" class="back-button">Назад</a>
            </div>
        </form>
    </div>
    <script>
        let checkpointForm = document.querySelectorAll(".checkpoint-form")
        let checkpointContainer = document.querySelector("#checkpoints-formset")
        let addCheckpointButton = document.querySelector("#add-checkpoint-form")
        let checkpointTotalForms = document.querySelector("#id_checkpoints-TOTAL_FORMS")


        addCheckpointButton.addEventListener('click', addCheckpointForm)

        function addCheckpointForm(e) {
            e.preventDefault()
            let checkpointNum = document.querySelectorAll('.checkpoint-form').length
            let newForm = document.createElement('div');
            newForm.classList.add('checkpoint-form', 'edit-checkpoint');

            let inputTitle = document.createElement('input');
            inputTitle.type = 'text';
            inputTitle.name = `checkpoints-${checkpointNum}-title`;
            inputTitle.id = `id_checkpoints-${checkpointNum}-title`;
            inputTitle.maxLength = '30';
            let labelTitle = document.createElement('label');
            labelTitle.htmlFor = `id_checkpoints-${checkpointNum}-title`;
            labelTitle.textContent = 'Название: ';
            let paragraphTitle = document.createElement('p');
            paragraphTitle.appendChild(labelTitle);
            paragraphTitle.appendChild(inputTitle);

            let inputDescription = document.createElement('input');
            inputDescription.type = 'text';
            inputDescription.name = `checkpoints-${checkpointNum}-description`;
            inputDescription.id = `id_checkpoints-${checkpointNum}-description`;
            inputDescription.maxLength = '100';
            let labelDescription = document.createElement('label');
            labelDescription.htmlFor = `id_checkpoints-${checkpointNum}-description`;
            labelDescription.textContent = 'Описание: ';
            let paragraphDescription = document.createElement('p');
            paragraphDescription.appendChild(labelDescription);
            paragraphDescription.appendChild(inputDescription);

            let inputDeadline = document.createElement('input');
            inputDeadline.type = 'date';
            inputDeadline.name = `checkpoints-${checkpointNum}-deadline`;
            inputDeadline.id = `id_checkpoints-${checkpointNum}-deadline`;
            inputDeadline.placeholder = 'yyyy-mm-dd (DOB)';
            inputDeadline.classList.add('form-control');
            let labelDeadline = document.createElement('label');
            labelDeadline.htmlFor = `id_checkpoints-${checkpointNum}-deadline`;
            labelDeadline.textContent = 'Дедлайн контрольной точки: ';
            let paragraphDeadline = document.createElement('p');
            paragraphDeadline.appendChild(labelDeadline);
            paragraphDeadline.appendChild(inputDeadline);

            let inputId = document.createElement('input');
            inputId.type = 'hidden';
            inputId.name = `checkpoints-${checkpointNum}-id`;
            inputId.id = `id_checkpoints-${checkpointNum}-id`;

            let inputProject = document.createElement('input');
            inputProject.type = 'hidden';
            inputProject.name = `checkpoints-${checkpointNum}-project`;
            inputProject.id = `id_checkpoints-${checkpointNum}-project`;

            let deleteButton = document.createElement('button');
            deleteButton.type = 'button';
            deleteButton.textContent = 'Удалить';
            deleteButton.classList.add('delete-checkpoint-button');
            deleteButton.addEventListener('click', function () {
                deleteCheckpointForm(newForm);
            });

            newForm.appendChild(paragraphTitle);
            newForm.appendChild(paragraphDescription);
            newForm.appendChild(paragraphDeadline);
            newForm.appendChild(inputId);
            newForm.appendChild(inputProject);
            newForm.appendChild(deleteButton);
            checkpointContainer.appendChild(newForm)
            checkpointTotalForms.setAttribute('value', `${++checkpointNum}`)
        }

        document.addEventListener('click', function (e) {
            if (e.target && e.target.classList.contains('delete-checkpoint-button')) {
                deleteCheckpointForm(e.target.parentNode);
            }
        });

        function deleteCheckpointForm(formElement) {
            formElement.remove();

            let forms = document.querySelectorAll('.checkpoint-form');
            let checkpointNum = 0;
            forms.forEach(function (form, index) {
                let inputs = form.querySelectorAll('input, select');
                inputs.forEach(function (input) {
                    input.name = input.name.replace(/-\d+-/, `-${index}-`);
                    input.id = input.id.replace(/-\d+-/, `-${index}-`);
                });
                checkpointNum++;
            });
            document.querySelector("#id_checkpoints-TOTAL_FORMS").setAttribute('value', `${checkpointNum}`);
        }
    </script>
{% endblock %}
