{% extends "base.html" %}
{% block title %}Роль {{ participant.title }} проекта {{ participant.project.title }}{% endblock %}
{% block content %}
    <h1>Вы действительно хотите {{ message }} {{ participant.title }} в проекте {{ participant.project.title }}?</h1>
    <form action="{% url 'projects:clear_participant' participant.project.pk participant.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Да</button>
    </form>
    <div><a href="{{ request.META.HTTP_REFERER }}" class="back-button">Назад</a></div>
{% endblock %}