{% extends "base.html" %}
{% load static %}
{% block title %}Топ проектов{% endblock %}
{% block content %}
    <h1>Топ проектов</h1>
    <table class="info-table">
        <tr>
            <th>Место</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Создатель</th>
            <th>Теги</th>
            <th>Средний рейтинг</th>
        </tr>
        {% for project in projects %}
            <tr>
                <td class="{% if forloop.counter == 1 %}first-place{% elif forloop.counter == 2 %}second-place{% elif forloop.counter == 3 %}third-place{% else %}other-place{% endif %}">{{ forloop.counter }}</td>
                <td><a href="{% url 'projects:project_info' project.pk %}">{{ project.title }}</a></td>
                <td>{{ project.description }}</td>
                <td>{{ project.get_status_display }}</td>
                <td><a href="{% url 'account:user-detail' project.creator.pk %}">{{ project.creator.full_name }}</a>
                </td>
                <td>
                    <ul class="tag-list">
                        {% for tag in project.tags.all %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <img src="{% static 'images/star.png' %}" width="15" height="15"> {{ project.mean_rating }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include 'common/pagination.html' %}
{% endblock %}