{% extends "base.html" %}
{% block title %}Созданные проекты{% endblock %}
{% block content %}
    <h1>Созданные проекты</h1>
    {% if projects %}
        <table class="info-table">
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Статус</th>
                <th>Дата создания проекта</th>
                <th>Дедлайн завершения проекта</th>
                <th>Карточка проекта</th>
            </tr>
            {% for project in projects %}
                <tr>
                    <td>{{ project.title }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.get_status_display }}</td>
                    <td>{{ project.created|date:"d.m.Y" }}</td>
                    <td>{{ project.completion_deadline|date:"d.m.Y" }}</td>
                    <td><a href="{% url 'projects:project_info' project.pk %}">Ссылка</a></td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Нет созданных проектов</h2>
    {% endif %}
{% endblock %}