{% extends "base.html" %}
{% block title %}Заявки на участие в проекте {{ project.title }}{% endblock %}
{% block content %}
    <h1>Роли в проекте</h1>
    <table class="info-table">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Участник</th>
            <th></th>
        </tr>
        {% for participant in project.participants.all %}
            <tr>
                <td>{{ participant.title }}</td>
                <td>{{ participant.description }}</td>
                <td>
                    {% if participant.participant is NULL %}
                        Нет участника
                    {% else %}
                        {{ participant.participant.username }}
                    {% endif %}
                </td>
                <td>
                    {% if participant.participant is NULL %}
                        <a href="{% url 'projects:participant_applications_list' project.pk participant.custom_id %}">Посмотреть
                            заявки</a>
                    {% else %}
                        <a href="{% url 'projects:confirm_clear_participant' project.pk participant.custom_id %}"
                           class="application-form">Удалить участника</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'projects:project_info' project.pk %}" class="back-button">Назад</a></p>
{% endblock %}