{% extends "base.html" %}
{% block title %}Роли в проекте {{ project.title }}{% endblock %}
{% block content %}
    <h1>Роли в проекте</h1>
    <table class="info-table">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Участник</th>
            <th></th>
        </tr>
        {% for participant in project.participants.all %}
            <tr>
                <td>{{ participant.title }}</td>
                <td>{{ participant.description }}</td>
                <td>
                    {% if participant.participant is NULL %}
                        Нет участника
                    {% else %}
                        <a href="{% url 'account:user-detail' participant.participant.pk %}"
                           class="edit-button">{{ participant.participant.full_name }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if participant.participant is NULL %}
                        <a href="{% url 'participants:participant_applications_list' participant.pk %}"
                           class="edit-button">Посмотреть
                            заявки</a>
                    {% else %}
                        <a href="{% url 'participants:confirm_clear_participant' participant.pk %}"
                           class="edit-button">Удалить участника</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'projects:project_info' project.pk %}" class="back-button">Назад</a></p>
{% endblock %}