{% extends "base.html" %}
{% load project_tags %}
{% block title %}Рекомендованные проекты{% endblock %}
{% block content %}
    <h1>Рекомендованные проекты</h1>
    {% if projects %}
        <form method="get">
            {% for field in filter.form %}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            <button type="submit">Filter</button>
        </form>
        <table class="info-table">
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Статус</th>
                <th>Дедлайн подачи заявки</th>
                <th>Дедлайн завершения проекта</th>
                <th>Дата создания проекта</th>
                <th>Количество контрольных точек</th>
                <th>Количество участников</th>
                <th>Количество вакансий</th>
                <th>Число общих интересов</th>
                <th>Пересечение интересов с пользователем</th>
            </tr>
            {% for project in projects %}
                <tr>
                    <td><a href="{% url 'projects:project_info' project.pk %}">{{ project.title }}</a></td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.get_status_display }}</td>
                    <td>{{ project.application_deadline|date:"d.m.Y" }}</td>
                    <td>{{ project.completion_deadline|date:"d.m.Y" }}</td>
                    <td>{{ project.created|date:"d.m.Y" }}</td>
                    <td>{{ project.checkpoints_num }}</td>
                    <td>{{ project.participants_num }}</td>
                    <td>{{ project.vacancies_num }}</td>
                    <td>{{ project.common_tags }}</td>
                    {% commonInterests project request.user as interests %}
                    <td>
                        <ul>
                            {% for interest in interests %}
                                <li>{{ interest.title }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% include 'common/pagination.html' %}
    {% else %}
        <h2>Нет рекомендованных проектов</h2>
    {% endif %}
{% endblock %}