{% extends "base.html" %}
{% block title %}Проект {{ project.title }}{% endblock %}
{% block content %}
    <h1>Редактирование проекта</h1>
    <div class="update-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-container">
                <button type="submit">Сохранить</button>
                <a href="{% url 'projects:delete_project' project.pk %}" class="back-button">Удалить проект</a>
                <a href="{{ request.META.HTTP_REFERER }}" class="back-button">Назад</a>
            </div>
        </form>
    </div>
{% endblock %}