{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}
    <h1>Сведения об аккаунте</h1>
    <div class="update-form">
        {% with user=request.user %}
            <p>Никнейм: {{ user.username }}</p>
            <p>Имя: {{ user.first_name }}</p>
            <p>Фамилия: {{ user.last_name }}</p>
            <p>Электронная почта: {{ user.email }}</p>
            {% with profile=user.profile %}
                <p>Номер телефона: {{ profile.phone }}</p>
                <p>Резюме: <a href="{{ profile.get_absolute_file_upload_url }}">Ссылка</a></p>
                Научные интересы:
                <ul class="tag-list">
                    {% for interest in profile.interests.all %}
                        <li>{{ interest.title }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        {% endwith %}
        <p><a href="{% url 'account:profile_update' %}">Редактировать профиль</a></p>
    </div>
{% endblock %}