{% extends "base.html" %}
{% block title %}Редактировать профиль{% endblock %}
{% block content %}
    <h1>Редактирование профиля</h1>
    <div class="update-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-container">
                <button type="submit">Сохранить</button>
                <a href="{% url 'account:profile' %}" class="back-button">Назад</a>
            </div>
        </form>
    </div>
{% endblock %}